.env
node_modules
backend/src/utils/open-ai-config.ts
backend/dist/config/openai-config.js
backend/dist/config/openai-config.js.map
backend/dist/utils/open-ai-config.js
backend/dist/utils/open-ai-config.js.map
